<main class="main">
  <section id="car" class="mt-5">
    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="img/buonglai.jpeg" style="width: 50em" />
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="img/cx30.png" style="width: 50em" />
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="img/buonglai.jpeg" style="width: 50em" />
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="img/buonglai.jpeg" style="width: 50em" />
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="img/buonglai.jpeg" style="width: 50em" />
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="img/buonglai.jpeg" style="width: 50em" />
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="popular__container container swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/cx30.png"
              onclick="currentSlide(1)"
              alt="The Woods"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/cx30.png"
              onclick="currentSlide(2)"
              alt="Cinque Terre"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(3)"
              alt="Mountains and fjords"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(4)"
              alt="Northern Lights"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(5)"
              alt="Nature and sunrise"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(6) "
              alt="Snowy Mountains"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(7)"
              alt="Snowy Mountains"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(8) "
              alt="Snowy Mountains"
            />
          </div>
          <div class="swiper-slide mx-1 preview-image">
            <img
              class="slide-image"
              src="img/buonglai.jpeg"
              onclick="currentSlide(6)"
              alt="Snowy Mountains"
            />
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <%- include("../views/about.ejs") %>
</main>

<script src="js/car.js"></script>
