<section class="about section" id="about">
    <div class="jumbotron text-center" style='overflow-y:scroll;max-height:70vh;background:#190222'>
        <div class="containerFeature container" id='result' style=''>
        </div>     
      </div>    
      <div class="container-fluid" style='background:#190222;min-height:30vh;position:absolute;bottom:0'>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary builderBtn" id='heading'><i class="fa fa-header" aria-hidden="true"></i>
                Heading</button>
              <button class="btn btn-primary builderBtn" id='Paragraph'><i class="fa fa-paragraph" aria-hidden="true"></i>
                Paragraph</button>
              <button class="btn btn-primary builderBtn" id='imgWithText'><i class="fa fa-map-o" aria-hidden="true"></i>
                <br> Image with Text</button>
              <button class="btn btn-primary builderBtn" id='saveInfo'><i class="fa fa-map-o" aria-hidden="true"></i>
                <br> Save</button>
            </div>
          </div>
       
        </div>
      </div>
      <div id="re">
           
      </div>
</section>


<script src="js/create-product.js"></script>

