<footer class="footer section">
  <div class="shapeX shape__big"></div>
  <div class="shapeX shape__small"></div>

  <div class="footer__container container grid">
    <div class="footer__content">
      <a href="#" class="footer__logo">
        <i class="ri-steering-line"></i>
        AUTO MAZDA
      </a>
      <p class="footer__description">
        Chúng tôi cung cấp <br />
        những chiếc xe tốt nhất của<br />
        Mazda.
        <br />
        <span title="address"
          >Địa chỉ: 07 Hoàng Minh Giám, Phường 9, Phú Nhuận, <br />
          thành phố Hồ Chí Minh</span
        >
      </p>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">AutoMazda</h3>

      <ul class="footer__links">
        <li>
          <a href="#about" class="footer__links">Đăng ký lái thử</a>
        </li>
        <li>
          <a href="#featured" class="footer__links">Mẫu xe</a>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Thông tin</h3>
      <ul class="footer__links">
        <li>
          <a href="tel:0969123630" class="footer__links" title="phone"
            >Số điện thoại liên hệ: 0969123630</a
          >
        </li>
        <!-- <li>
          <a href="#" class="footer__links">Find a dealer</a>
        </li>
        <li>
          <a href="#" class="footer__links">Contact us</a>
        </li>
        <li>
          <a href="#" class="footer__links">Services</a>
        </li> -->
      </ul>
    </div>

    <!-- <div class="footer__content">
      <h3 class="footer__title">Follow us</h3>

      <ul class="footer__social">
        <a href="" target="_blank" class="footer__social-link">
          <i class="ri-facebook-fill"></i>
        </a>
        <a href="" target="_blank" class="footer__social-link">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="" target="_blank" class="footer__social-link">
          <i class="ri-twitter-line"></i>
        </a>
      </ul>
    </div> -->
  </div>
  <span class="footer__copy">
    &#169;
    <a target="_blank" href="https://www.mazda.com/" class="footer__dev-link"
      >2023 MAZDA VIỆT NAM.</a
    >
    All rigths reserved
    <p id="date"></p>
  </span>
</footer>
