* {
  padding: 0;
  margin: 0;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pulse i {
  color: #fff;
}

.pulse {
  height: 10vh;
  width: 10vh;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
}

.pulse::before {
  content: "";
  position: absolute;
  border: 1px solid orange;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

.pulse::after {
  content: "";
  position: absolute;
  border: 1px solid ORANGE;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.slide-image {
  opacity: 0.6;
}

.preview-image {
  width: 14vmax;
}

.active,
.slide-image:hover {
  opacity: 1;
}

.scroll-horizontal {
  overflow: auto;
  white-space: nowrap;
}


/* add product  */
.builderBtn{
  height: 100px;
  width: 100px;
  background: #b9b9b9;
  color: #000;
  border-color: #b9b9b9;
}


#result h1{
  font-size: 1.25rem;
  color: #903450;
  font-weight: 900;
  margin-bottom: 1rem!important;
  margin-top: 1rem!important;
  text-align:left;
  position:relative;
}

#result p{
  color: #fff!important;
  font-size: 1rem!important;
  text-shadow: 1px 1px 1px #86868685;
  margin-top: .5em;
  text-align:left;
  position:relative;
}

#result .closeBtn{
  background-color: red;
  color: white;
  width:30px;
  height:30px;
  position: absolute;
  top:0;
  right:0%;
  cursor:pointer;
  user-select: none;
  text-align: center;
  font-weight: 900;
}

.draggable{
  cursor: move;
  /* border: 2px dotted #000; */
  padding: 4px;

}

.dragging{
  /* border:5px solid black */
}

label input[type='file']{display:none}

.mkrelative{
  position:relative
}

.containerFeature {
  border: 2px dotted #000; 
  padding: 4px;
  min-height:70vh;
  background-color: #190222;
}

.grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1{
  min-height:10vh;
  /* border: 2px dotted #000; */
}
